<h4>Sign Up</h4>

<%= form_with model: @user, url: users_new_path, local: true do |form| %>

<% if @user.errors.any? %>
    <div class="alert alert-danger">
    <% @user.errors.full_messages.each do |messages| %>
    <div><%= messages %></div>
    </div>
    <% end %>
    <% end %>
    <div class="mb-3">
    <%= form.label :email%>
    <%= form.text_field :email, class: 'form-control', placeholder: "example@email.com" %>
    </div>

    <div class="mb-3">
    <%= form.label :password%>
    <%= form.password_field :password, class: 'form-control',  placeholder: "chicken" %>
    </div>


    <div class="mb-3">
    <%= form.label :password_confirmation%>
    <%= form.password_field :password_confirmation, class: 'form-control',  placeholder: "chicken" %>
    <div>
    <br>
    <%= form.submit "Sign Up", class: "btn btn-primary" %>
<% end %>


